<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.assets.mapper.AssetsMapper">
  <resultMap id="BaseResultMap" type="com.dili.assets.domain.Assets">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="DECIMAL" property="number" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="second_area" jdbcType="INTEGER" property="secondArea" />
    <result column="corner" jdbcType="TINYINT" property="corner" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="split_notes" jdbcType="VARCHAR" property="splitNotes" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="business_type" jdbcType="TINYINT" property="businessType" />
    <result column="kind" jdbcType="TINYINT" property="kind" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, number, unit, area,floor,user,kind, second_area, type, corner, department_id, market_id, parent_id, notes, state,
    is_delete, split_notes, sort, creator_id, create_time, modify_time, business_type, level
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from assets
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.assets.domain.Assets">
    <!--
      WARNING - @mbg.generated
    -->
    update assets
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
       <if test="area != null">
         second_area = #{secondArea,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="corner != null">
        corner = #{corner,jdbcType=TINYINT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        kind = #{kind,jdbcType=TINYINT},
      </if>
      <if test="splitNotes != null">
        split_notes = #{splitNotes,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateStateByIdIn">
    update `assets`
    set user = null,state = 1
    where
    id in
    <foreach collection="idList" item="item" open="(" close=")" separator=",">
      #{item,jdbcType=NUMERIC}
    </foreach>
  </update>
</mapper>