<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.assets.mapper.CarTypePublicMapper">
  <resultMap id="BaseResultMap" type="com.dili.assets.domain.CarTypePublic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_code" jdbcType="BIGINT" property="marketCode" />
    <result column="car_type_id" jdbcType="BIGINT" property="carTypeId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="entrance_self_weight" jdbcType="BIGINT" property="entranceSelfWeight" />
    <result column="storage_self_weight" jdbcType="BIGINT" property="storageSelfWeight" />
    <result column="vehicle_self_weight" jdbcType="BIGINT" property="vehicleSelfWeight" />
    <result column="auto_pass" jdbcType="INTEGER" property="autoPass" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="number" jdbcType="BIGINT" property="carType.number" />
    <result column="name" jdbcType="VARCHAR" property="carType.name" />
    <result column="classify" jdbcType="VARCHAR" property="carType.classify" />
    <result column="remark" jdbcType="VARCHAR" property="carType.remark" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="auto_save" jdbcType="VARCHAR" property="autoSave" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, market_code, car_type_id, code, entrance_self_weight, storage_self_weight, vehicle_self_weight, tag, auto_save,
    auto_pass, status, remark, create_time, modify_time, creator_id
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from car_type_public
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.assets.domain.CarTypePublic">
    <!--
      WARNING - @mbg.generated
    -->
    update car_type_public
    <set>
      <if test="marketCode != null">
        market_code = #{marketCode,jdbcType=BIGINT},
      </if>
      <if test="carTypeId != null">
        car_type_id = #{carTypeId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="entranceSelfWeight != null">
        entrance_self_weight = #{entranceSelfWeight,jdbcType=BIGINT},
      </if>
      <if test="storageSelfWeight != null">
        storage_self_weight = #{storageSelfWeight,jdbcType=BIGINT},
      </if>
      <if test="vehicleSelfWeight != null">
        vehicle_self_weight = #{vehicleSelfWeight,jdbcType=BIGINT},
      </if>
      <if test="aotuPass != null">
        auto_pass = #{autoPass,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listCarTypePublic" resultMap="BaseResultMap">
      select ctb.id,ct.id car_type_id,ct.name,ct.number,ctb.code,ctb.tag,ctb.entrance_self_weight,ctb.storage_self_weight,
		ctb.vehicle_self_weight,ctb.auto_pass,ctb.remark,ctb.status,ctb.market_code
		from car_type ct 
		left join car_type_public ctb on ct.id = ctb.car_type_id and ctb.market_code = #{marketCode,jdbcType=VARCHAR}
		where ct.status = 1
	      <if test="carTypeId != null">
	        and ctb.car_type_id = #{carTypeId,jdbcType=BIGINT}
	      </if>
	      <if test="code != null">
	        and ctb.code = #{code,jdbcType=VARCHAR}
	      </if>
	      <if test="entranceSelfWeight != null">
	        and ctb.entrance_self_weight = #{entranceSelfWeight,jdbcType=BIGINT}
	      </if>
	      <if test="storageSelfWeight != null">
	        and ctb.storage_self_weight = #{storageSelfWeight,jdbcType=BIGINT}
	      </if>
	      <if test="vehicleSelfWeight != null">
	        and ctb.vehicle_self_weight = #{vehicleSelfWeight,jdbcType=BIGINT}
	      </if>
	      <if test="aotuPass != null">
	        and ctb.auto_pass = #{autoPass,jdbcType=INTEGER}
	      </if>
	      <if test="status != null">
	        and ctb.status = #{status,jdbcType=INTEGER}
	      </if>
	      <if test="remark != null">
	        and ctb.remark = #{remark,jdbcType=VARCHAR}
	      </if>
	      <if test="createTime != null">
	        and ctb.create_time = #{createTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="modifyTime != null">
	        and ctb.modify_time = #{modifyTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="creatorId != null">
	        and ctb.creator_id = #{creatorId,jdbcType=BIGINT}
	      </if>
	      <if test="number != null">
	        and ct.number = #{number,jdbcType=BIGINT}
	      </if>
	      <if test="name != null">
	        and ct.name = #{name,jdbcType=VARCHAR}
	      </if>
	      <if test="tag != null">
	        and position(#{tag,jdbcType=VARCHAR} in tag)
	      </if>
  </select>
  <select id="getCarTypePublicById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_type_public
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateCarTypePublic" parameterType="com.dili.assets.domain.CarTypePublic">
    update car_type_public
    	<set>
          code = #{code,jdbcType=VARCHAR},
          entrance_self_weight = #{entranceSelfWeight,jdbcType=BIGINT},
          storage_self_weight = #{storageSelfWeight,jdbcType=BIGINT},
          vehicle_self_weight = #{vehicleSelfWeight,jdbcType=BIGINT},
          auto_pass = #{autoPass,jdbcType=INTEGER},
          remark = #{remark,jdbcType=VARCHAR},
          tag = #{tag,jdbcType=VARCHAR},
      </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>