<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.assets.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.dili.assets.domain.City">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="MODIFIED" jdbcType="TIMESTAMP" property="modified" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="level_type" jdbcType="INTEGER" property="levelType" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="merger_name" jdbcType="VARCHAR" property="mergerName" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="short_py" jdbcType="VARCHAR" property="shortPy" />
    <result column="yn" jdbcType="BIT" property="yn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, CREATED, MODIFIED, name, parent_id, short_name, level_type, city_code, merger_name, 
    lng, lat, pinyin, short_py, yn
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from city
    where id = #{id,jdbcType=BIGINT}
  </select>

    <update id="updateBy" parameterType="com.dili.assets.domain.City">
    <!--
      WARNING - @mbg.generated
    -->
    update city
    <set>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        MODIFIED = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="levelType != null">
        level_type = #{levelType,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="mergerName != null">
        merger_name = #{mergerName,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null">
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="shortPy != null">
        short_py = #{shortPy,jdbcType=VARCHAR},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listByFirstLevelTypeKeywords" resultType="com.dili.assets.domain.City">
    SELECT
      id, CREATED, MODIFIED, name, parent_id, short_name, level_type, city_code, merger_name,
      lng, lat, pinyin, short_py, yn
    FROM
      city
    WHERE
        parent_id
            IN
                (
                  SELECT
                     id
                  FROM
                    city
                  WHERE
                    parent_id
                        IN
                            (
                              SELECT
                                c.id
                              FROM
                                city c
                                  INNER JOIN
                                    (
                                    SELECT
                                      id
                                    FROM
                                      city
                                    WHERE
                                      NAME LIKE concat( #{firstKeyword}, '%' )
                                       OR short_name LIKE concat( #{firstKeyword}, '%' )
                                       OR pinyin LIKE concat( #{firstKeyword}, '%' )
                                       OR city_code LIKE concat( #{firstKeyword}, '%' )
                                       OR short_py LIKE concat( #{firstKeyword}, '%' )
                                    ) cid ON c.id = cid.id
                              WHERE
                                c.level_type = 1
                            )
                )
    UNION
      SELECT
        c.id, c.CREATED, c.MODIFIED, c.name, c.parent_id, c.short_name, c.level_type, c.city_code, c.merger_name,
        c.lng, c.lat, c.pinyin, c.short_py, c.yn
      FROM
        city c
          INNER JOIN (
          SELECT
            id
          FROM
            city
          WHERE
            NAME LIKE concat( #{firstKeyword}, '%' )
             OR short_name LIKE concat( #{firstKeyword}, '%' )
             OR pinyin LIKE concat( #{firstKeyword}, '%' )
             OR city_code LIKE concat( #{firstKeyword}, '%' )
             OR short_py LIKE concat(#{firstKeyword}, '%' )) cid ON c.id = cid.id
      WHERE
        c.level_type = 0
        AND c.id &gt;= 10000000
    ORDER BY  id
  </select>
  <select id="listBySecondLevelTypeKeywords" resultType="com.dili.assets.domain.City">
    SELECT
      id, CREATED, MODIFIED, name, parent_id, short_name, level_type, city_code, merger_name,
      lng, lat, pinyin, short_py, yn
    FROM
        city
    WHERE
        parent_id
    IN
        (
        SELECT
           id
         FROM
           city
         WHERE
           (
               `name` LIKE concat(#{secondKeyword}, '%' )
               OR short_name LIKE concat( #{secondKeyword}, '%' )
               OR pinyin LIKE concat( #{secondKeyword}, '%' )
               OR city_code LIKE concat( #{secondKeyword}, '%' )
               OR short_py LIKE concat(#{secondKeyword}, '%' )
             )
           AND level_type = 2
        )
    <if test="null != cityIds and cityIds.size()>0">
      AND id IN
      <foreach collection="cityIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    UNION
    SELECT
      id, CREATED, MODIFIED, name, parent_id, short_name, level_type, city_code, merger_name,
      lng, lat, pinyin, short_py, yn
    FROM
        city
    WHERE
      id &gt;= 10000000 AND
      parent_id
      IN
      (
        SELECT
            id
        FROM
            city
        WHERE
          (
          `name` LIKE concat(#{secondKeyword}, '%' )
          OR short_name LIKE concat( #{secondKeyword}, '%' )
          OR pinyin LIKE concat( #{secondKeyword}, '%' )
          OR city_code LIKE concat( #{secondKeyword}, '%' )
          OR short_py LIKE concat(#{secondKeyword}, '%' )
          )
          AND level_type = 1
      )
    <if test="null != cityIds and cityIds.size()>0">
      AND id IN
      <foreach collection="cityIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY id
  </select>
  <select id="listByThirdLevelTypeKeywords" resultType="com.dili.assets.domain.City">

    SELECT
      c.id,
      c.CREATED,
      c.MODIFIED,
      c.NAME,
      c.parent_id,
      c.short_name,
      c.level_type,
      c.city_code,
      c.merger_name,
      c.lng,
      c.lat,
      c.pinyin,
      c.short_py,
      c.yn
    FROM
      city c
        INNER JOIN (
        SELECT
          id
        FROM
          city
        WHERE
          `name` LIKE concat( #{thirdKeyword}, '%' )
           OR short_name LIKE concat( #{thirdKeyword}, '%' )
           OR pinyin LIKE concat( #{thirdKeyword}, '%' )
           OR city_code LIKE concat( #{thirdKeyword}, '%' )
           OR short_py LIKE concat( #{thirdKeyword}, '%' )) cid ON cid.id = c.id
    WHERE
      c.level_type = 3
    <if test="null != cityIds and cityIds.size()>0">
      AND c.id IN
      <foreach collection="cityIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    UNION
    SELECT
      c.id,
      c.CREATED,
      c.MODIFIED,
      c.NAME,
      c.parent_id,
      c.short_name,
      c.level_type,
      c.city_code,
      c.merger_name,
      c.lng,
      c.lat,
      c.pinyin,
      c.short_py,
      c.yn
    FROM
      city c
        INNER JOIN (
        SELECT
          id
        FROM
          city
        WHERE
           NAME LIKE concat( #{thirdKeyword}, '%' )
           OR short_name LIKE concat( #{thirdKeyword}, '%' )
           OR pinyin LIKE concat( #{thirdKeyword}, '%' )
           OR city_code LIKE concat( #{thirdKeyword}, '%' )
           OR short_py LIKE concat( #{thirdKeyword}, '%' )) cid ON c.id = cid.id
    WHERE
      c.level_type = 2
      AND c.id &gt;= 10000000
    <if test="null != cityIds and cityIds.size()>0">
      AND c.id IN
      <foreach collection="cityIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY
      id
  </select>
  <select id="listByAllLevelTypeKeywords" resultType="com.dili.assets.domain.City">
    SELECT
      id, CREATED, MODIFIED, name, parent_id, short_name, level_type, city_code, merger_name,
      lng, lat, pinyin, short_py, yn
    FROM
      city
    WHERE
         (NAME LIKE concat( #{allLevelKeyword}, '%' )
         OR short_name LIKE concat( #{allLevelKeyword}, '%' )
         OR pinyin LIKE concat( #{allLevelKeyword}, '%' )
         OR city_code LIKE concat( #{allLevelKeyword}, '%' )
         OR short_py LIKE concat( #{allLevelKeyword}, '%' ) )
    ORDER BY
    id
  </select>
  <select id="listByParentIds" resultType="com.dili.assets.domain.City">
    SELECT
      id, CREATED, MODIFIED, name, parent_id, short_name, level_type, city_code, merger_name,
      lng, lat, pinyin, short_py, yn
    FROM
        city
    WHERE
    <if test="null != firstLevelCityIds and firstLevelCityIds.size()>0">
      parent_id IN
      <foreach collection="firstLevelCityIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>

  </select>
</mapper>