<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.assets.mapper.SubjectMapper">
    <resultMap id="BaseResultMap" type="com.dili.assets.domain.Subject">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="parent" jdbcType="BIGINT" property="parent"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="market_id" jdbcType="BIGINT" property="marketId"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, name, state, parent, memo, path, creator_id, market_id, create_time,
        modify_time
    </sql>
    <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
        -->
        select
        <include refid="Base_Column_List"/>
        from subject
        where id = #{id,jdbcType=BIGINT}
    </select>
    <!-- 判定重复 -->
    <select id="exists" parameterType="com.dili.assets.domain.Category" resultMap="BaseResultMap">
        select * from subject
        <where>
            `state`!=3
            <if test="name !=null and name !=''">
                and `name`=#{name}
            </if>
        </where>
    </select>
    <update id="updateBy" parameterType="com.dili.assets.domain.Subject">
        <!--
          WARNING - @mbg.generated
        -->
        update subject
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="parent != null">
                parent = #{parent,jdbcType=BIGINT},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="listSubject" parameterType="com.dili.assets.domain.query.SubjectQuery" resultMap="BaseResultMap">
        select id, name, state, parent, market_id, path, memo, creator_id, create_time,
        modify_time from subject
        <where>
            `state`!=3
            <if test="keyword !=null and keyword !=''">
                and (`name` like CONCAT('%',#{keyword},'%'))
            </if>
            <if test="state !=null and state !=''">
                and `state`=#{state}
            </if>
            <if test="marketId !=null">
                and `market_id`=#{marketId}
            </if>
            <if test="parent !=null">
                and `parent`=#{parent}
            </if>
            <if test="ids !=null">
                and id in
                <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
                    #{item, jdbcType=BIGINT}
                </foreach>
            </if>

        </where>
    </select>

    <update id="batchUpdate">
        update subject set state = #{value} where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item, jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>