<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.assets.mapper.TradeTypeMapper">
    <resultMap id="BaseResultMap" type="com.dili.assets.domain.TradeType">
                <result column="id" jdbcType="BIGINT"
                        property="id"/>
                <result column="name" jdbcType="VARCHAR"
                        property="name"/>
                <result column="code" jdbcType="VARCHAR"
                        property="code"/>
                <result column="push" jdbcType="TINYINT"
                        property="push"/>
                <result column="scene"
                        jdbcType="VARCHAR"
                        property="scene"/>
                <result column="creator_id" jdbcType="BIGINT"
                        property="creatorId"/>
                <result column="creator_user" jdbcType="VARCHAR"
                        property="creatorUser"/>
                <result column="created_time" jdbcType="TIMESTAMP"
                        property="createdTime"/>
                <result column="modify_time" jdbcType="TIMESTAMP"
                        property="modifyTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>

                        <if test="scene != null">
                            and JSON_CONTAINS(scene, JSON_ARRAY(#{scene}))
                        </if>
                        <if test="keyword != null">
                            and name like
                            concat('%', #{keyword}, '%')
                            or code like
                            concat('%', #{keyword}, '%')
                        </if>
                                <if test="createdTime != null">
                                    and created_time between
                                    <foreach collection="createdTime" index="index" item="item">
                                        <if test="index ==0">
                                            #{item}
                                        </if>
                                    </foreach>
                                    and
                                    <foreach collection="createdTime" index="index" item="item">
                                        <if test="index ==1">
                                            #{item}
                                        </if>
                                    </foreach>
                                </if>
        </where>
    </sql>
    <sql id="Base_Column_List">
                    id,
                    name,
                    code,
                    push,
                    scene,
                    creator_id,
                    creator_user,
                    created_time,
                    modify_time
    </sql>
    <select id="selectByQuery" parameterType="com.dili.assets.sdk.dto.TradeTypeQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trade_type
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
</mapper>