<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.assets.mapper.TruckMapper">
  <resultMap id="BaseResultMap" type="com.dili.assets.domain.Truck">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="MODIFIED" jdbcType="TIMESTAMP" property="modified" />
    <result column="plate" jdbcType="VARCHAR" property="plate" />
    <result column="car_type" jdbcType="BIGINT" property="carType" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="driver_tel" jdbcType="VARCHAR" property="driverTel" />
    <result column="weight" jdbcType="BIGINT" property="weight" />
    <result column="weigh_id" jdbcType="BIGINT" property="weighId" />
    <result column="rail_weigh_id" jdbcType="BIGINT" property="railWeighId" />
    <result column="rail_weight" jdbcType="BIGINT" property="railWeight" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="yn" jdbcType="BIT" property="yn" />
    <result column="car_type_name" jdbcType="VARCHAR" property="carTypeName" />
    <result column="car_type_weight" jdbcType="BIGINT" property="carTypeWeight" />
    <result column="hurdles" jdbcType="TINYINT" property="hurdles" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, market_id, CREATED, MODIFIED, plate, car_type, driver_name, driver_tel, weight, 
    weigh_id, rail_weigh_id, rail_weight, operator_id, operator_name, remark, yn, car_type_name, 
    car_type_weight, hurdles
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from truck
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.assets.domain.Truck">
    <!--
      WARNING - @mbg.generated
    -->
    update truck
    <set>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        MODIFIED = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="plate != null">
        plate = #{plate,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=BIGINT},
      </if>
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverTel != null">
        driver_tel = #{driverTel,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=BIGINT},
      </if>
      <if test="weighId != null">
        weigh_id = #{weighId,jdbcType=BIGINT},
      </if>
      <if test="railWeighId != null">
        rail_weigh_id = #{railWeighId,jdbcType=BIGINT},
      </if>
      <if test="railWeight != null">
        rail_weight = #{railWeight,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=BIT},
      </if>
      <if test="carTypeName != null">
        car_type_name = #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="carTypeWeight != null">
        car_type_weight = #{carTypeWeight,jdbcType=BIGINT},
      </if>
      <if test="hurdles != null">
        hurdles = #{hurdles,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>